@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@1,100&display=swap');
body {
    height: 100vh;
    overflow: hidden;
    background: rgb(204,204,204);
    background: linear-gradient(252deg, rgba(204,204,204,0.583843954248366) 0%, rgba(245,245,245,1) 100%);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
.picks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#player-pick, #computer-pick{
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 3px solid #755252;
    border-radius: 10px;
    margin: 10px;
    display: grid;
}
#player-pick {
    background-color: #7EA8C2;
}
#computer-pick {
    background-color: #C24E4E;
}
.player-images, .computer-images {
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    grid-column: 1;
    grid-row: 1;
}
.show {
    opacity: 1;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    min-width: 100vw;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.playerSelection {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius: 10%;
    box-sizing: border-box;
    height: 200px;
    transition: all 0.2s;
}
.playerSelection:hover{
    background-color: white;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.score {
    color: black;
    font-family: 'Raleway', sans-serif;
    width: 200px;
    padding-left: 20px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.playContainer {
    display: flex;
    justify-content: center;
}
#roundPlay {
    font-size: 24px;
    color: black;
    font-family: 'Raleway', sans-serif;
}
